#one, #seven{
    background-color: cornflowerblue;
}
.menu_container{
    display: flex;
    justify-content: space-between;
}
#two{
    max-width: 30%;
}

#two, #four{
    background-color: burlywood;
}
#four{
    flex-grow: 1;
}
html,body{
    height:100%;
}

.wrapper{
    min-height: 100%;
    display:flex;
    flex-direction: column;
}

.main{
    flex:1 1 auto;
    display: flex;
}

.content{
    display:flex;
    height: 506px;
}


.content__left{
    display: flex;
    flex-direction: column;
}

#three{
    background-color:bisque;
}

#five{
    flex-grow: 1;
}

#tree{
    text-align: center;
}

#one, #two,#four,#five,#seven{
    padding:50px;
}

